<p>You've already submitted a schedule to this CBO. Please wait further instructions, or <%= link_to "edit", edit_participation_path(participation) %> your schedule.</p>
	
	
<%
	status_string = ""
	case participation[:status]
	when 0
		status_string = "Pending"
	when 1
		status_string = "Need More Information"
	when 2
		status_string = "Accepted"
	end
%>
<p>Your application status is currently: <strong><%= status_string %></strong></p>
	
	
<%= render 'participations/participation_stylesheet' %>	
	
<%= render 'participations/participation_display_js' %>


<table class="bordered-table condensed-table" id="scheduleTable">
	<thead>
		<th>Hour</th>
		<th>Monday</th>
		<th>Tuesday</th>
		<th>Wednesday</th>
		<th>Thursday</th>
		<th>Friday</th>
		<th>Saturday</th>
		<th>Sunday</th>
	</thead>
	<tbody>
		
		<% (0..23).each do |hour_num| # for each hour %>
			
			
			
			<% if hour_num == 0 # show the toggle times %>
				<tr>
					<td onMouseDown="showHideMorning()" colspan="8">Show/Hide Morning Times</td>
				</tr>
				
			<% end %>
			
			
			
			
			<% if (hour_num >= 0 && hour_num <= 8) # hide the morning section %>
				<tr style="display: none;" class="morningRow" id="row_<%= hour_num %>">
					
			<% elsif (hour_num >= 18 && hour_num <= 23) # hide the evening section %>
				<tr style="display: none;" class="eveningRow" id="row_<%= hour_num %>">
					
			<% else # draw as normal %>
				<tr id="row_<%= hour_num %>">
					
			<% end %>

				
					<% hour_key = "hour#{hour_num}" # string-ify it %>
					<td><%= (hour_num % 12 == 0 ? "12" : (hour_num % 12).to_s) + (hour_num < 12 ? " AM" : " PM") %></td>
					
					<% ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"].each do |day_of_week| %>
				
					
							<td class="<%= participation[day_of_week][hour_key] == "1" ? "selectedCell" : "unselectedCell" %>">
								
								<%= participation[day_of_week][hour_key] == "1" ? "Yes" : "" %>
								
							</td>
				
					<% end %>	
			</tr>
			
			<% if hour_num == 23 # show the toggler for evening times%>
				<tr>
					<td onMouseDown="showHideEvening()" colspan="8">Show/Hide Evening Times</td>
				</tr>
			<% end %>

		<% end %>
	</tbody>
</table>
