<% if signed_in_user? %>
	<h1>Participation Table for <%= link_to @participation.cbo.cboprofile.name, @participation.cbo.cboprofile %></h1>
	
	<%
		status_string = ""
		case @participation[:status]
		when 0
			status_string = "Pending"
		when 1
			status_string = "Need More Information"
		when 2
			status_string = "Accepted"
		end
	%>
	<h2>Current Status: <strong><%= status_string %></strong></h2>
	
	<br />
	
	

	
	<br /> <br />
<% end %>		
	
	
<% if signed_in_cbo? %>
	<h1>Participation Form from <%= @participation.user.userprofile.name %></h1>
	<% if @participation.cbo_id == current_cbo.id %>
	
		<%= form_for @participation do |participation_form| %>
	
			<div class="clearfix">
				<%= participation_form.label :status, :class => "xlInput" %>
				<div class="input">
					<%= participation_form.select :status, 
						options_for_select([['Not Confirmed', 0], ['Need More Infos', 1], ['Confirmed', 2]], @participation.status)
 					%>

					<%= participation_form.submit "Set Status", :class => "btn primary"%>
				</div>
			</div>
		<% end %>
	
	<% end %>
<% end %>

<% if signed_in_cbo? or signed_in_user? %>

	<p>
	Most recent message (from <%= @participation.participation_messages.last.sender_name %>): <%= @participation.participation_messages.last.message %>
	</p>
<% end %>




	
	
	
	
	
<%= render 'participation_stylesheet' %>	
<%= render 'participation_display_js' %>


<table class="bordered-table condensed-table" id="scheduleTable">
	<thead>
		<th>Hour</th>
		<th>Monday</th>
		<th>Tuesday</th>
		<th>Wednesday</th>
		<th>Thursday</th>
		<th>Friday</th>
		<th>Saturday</th>
		<th>Sunday</th>
	</thead>
	<tbody>
		
		<% (0..23).each do |hour_num| # for each hour %>
			
			
			
			<% if hour_num == 0 # show the toggle times %>
				<tr>
					<td onMouseDown="showHideMorning()" colspan="8">Show/Hide Morning Times</td>
				</tr>
				
			<% end %>
			
			
			
			
			<% if (hour_num >= 0 && hour_num <= 8) # hide the morning section %>
				<tr style="display: none;" class="morningRow" id="row_<%= hour_num %>">
					
			<% elsif (hour_num >= 18 && hour_num <= 23) # hide the evening section %>
				<tr style="display: none;" class="eveningRow" id="row_<%= hour_num %>">
					
			<% else # draw as normal %>
				<tr id="row_<%= hour_num %>">
					
			<% end %>

				
					<% hour_key = "hour#{hour_num}" # string-ify it %>
					<td><%= (hour_num % 12 == 0 ? "12" : (hour_num % 12).to_s) + (hour_num < 12 ? " AM" : " PM") %></td>
					
					<% ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"].each do |day_of_week| %>
				
					
							<td class="<%= @participation[day_of_week][hour_key] == "1" ? "selectedCell" : "unselectedCell" %>">
								
								<%= @participation[day_of_week][hour_key] == "1" ? "Yes" : "" %>
								
							</td>
				
					<% end %>	
			</tr>
			
			<% if hour_num == 23 # show the toggler for evening times%>
				<tr>
					<td onMouseDown="showHideEvening()" colspan="8">Show/Hide Evening Times</td>
				</tr>
			<% end %>

		<% end %>
	</tbody>
</table>

<% if signed_in_user? %>
	<% if @participation.user_id == current_user.id %>
		<%= link_to "Edit Schedule", edit_participation_path(@participation) %>
		<br /><br />
	<% end %>
<% end %>

<% if signed_in_user? or signed_in_cbo? %>
	<%= render 'participation_messages/message_box', :participation => @participation %>
	<br />

<% end %>


