<fieldset>
	<legend>Profile Information</legend>
	<div class="clearfix">
		<%= userprofile_form.label "First Name", :class => "xlInput" %>
		<div class="input">
			<%= userprofile_form.text_field :firstname, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= userprofile_form.label "Last Name", :class => "xlInput" %>
		<div class="input">
			<%= userprofile_form.text_field :lastname, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= userprofile_form.label "Nick Name", :class => "xlInput" %>
		<div class="input">
			<%= userprofile_form.text_field :nickname, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= userprofile_form.label "Photo", :class => "xlInput" %>
		<div class="input">
			<%= userprofile_form.file_field :avatar, :class => "xlarge" %>
			<p class="help-block">Must be an image file, and smaller than 5MB.</p>
		</div>
	
	</div>
	
	<div class="clearfix">
		<%= userprofile_form.label "Use Default Image?", :class => "xlInput" %>
		<div class="input">
			<%= userprofile_form.check_box :use_default_image, :checked => 'unchecked', :class => "inline checkbox" %>
			<span class="help-inline">Check this if you want to use the default image.</span>
		</div>
	</div>
	
	
	<div class="clearfix">
		<%= userprofile_form.label :school, :class => "xlInput" %>
		<div class="input">
			<%= userprofile_form.text_field :school, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= userprofile_form.label :street1, :class => "xlInput" %>
		<div class="input">
			<%= userprofile_form.text_field :street1, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= userprofile_form.label :street2, :class => "xlInput" %>
		<div class="input">
			<%= userprofile_form.text_field :street2, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= userprofile_form.label :city, :class => "xlInput" %>
		<div class="input">
			<%= userprofile_form.text_field :city, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= userprofile_form.label :state, :class => "xlInput" %>
		<div class="input">
			<%= userprofile_form.text_field :state, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= userprofile_form.label :zip, :class => "xlInput" %>
		<div class="input">
			<%= userprofile_form.text_field :zip, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= userprofile_form.label :country, :class => "xlInput" %>
		<div class="input">
			<%= userprofile_form.text_field :country, :class => "xlarge" %>
		</div>
	</div>
</fieldset>

<fieldset>
	<legend>Biographical Information</legend>
	
	<div class="clearfix">
		<%= userprofile_form.label "Short Biography", :class => "xlInput" %>
		<div class="input">
			<%= userprofile_form.text_field :short_bio, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= userprofile_form.label "Long Biography", :class => "xlInput" %>
		<div class="input">
			<%= userprofile_form.text_area :long_bio, :class => "xxlarge", :rows => 8 %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= userprofile_form.label t(:core_question1_text), :class => "xlInput" %>
		<div class="input">
			<%= userprofile_form.text_area :core_question1_response, :class => "xxlarge", :rows => 8 %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= userprofile_form.label t(:core_question2_text), :class => "xlInput" %>
		<div class="input">
			<%= userprofile_form.text_area :core_question2_response, :class => "xxlarge", :rows => 8 %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= userprofile_form.label t(:core_question3_text), :class => "xlInput" %>
		<div class="input">
			<%= userprofile_form.text_area :core_question3_response, :class => "xxlarge", :rows => 8 %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= userprofile_form.label t(:core_question4_text), :class => "xlInput" %>
		<div class="input">
			<%= userprofile_form.text_area :core_question4_response, :class => "xxlarge", :rows => 8 %>
		</div>
	</div>
	
	
</fieldset>

