<div class="row">
	<div class="span4">
		<%= image_tag @userprofile.avatar.url(:medium) %>
		<br /><br />
		<% if signed_in_user? %>
			
			<% if @userprofile.id == current_user.id %>
				<div class="btn">
				<%= link_to "Edit Profile", edit_userprofile_path(current_user.userprofile) %>
				</div>
			<% end %>
			
		<% end %>
	</div>
	
	<div class="span11" style="border-left: 1px solid #eee; border-right: 1px solid #eee; margin-left: 0; padding-left: 19px">
		<h1><%= @userprofile.name %>&nbsp;<small><%= communities_tagline(@userprofile.user) %></small></h1>

		<dl class="tabs">

			<dd><a href="#1" class="active">Information</a></dd>
			<dd><a href="#2">Biography</a></dd>
			<dd><a href="#3">Active Communities</a></dd>
            <dd><a href="#4">Active Projects</a></dd>
			<!-- <dd><a href="#5">Latest Tweets</a></dd> !-->
		</dl>

		<ul class="tabs-content">
			<li class="active" id="1Tab">
            	<ul class="leftinfo">
					<li>Full Name</li>
					<li>Contact E-mail</li>
					<li>School</li>
					<!--<li>Year</li>
					<li>Area</li> !-->
				</ul>

				<ul class="rightinfo">
					<li><%= @userprofile.name_full %></li>
					<li><%= @userprofile.user.email %></li>
					<li><%= @userprofile.school %></li>
					<!-- <li>2011</li>
					<li>Boston</li> !-->
				</ul>
			</li>
			
			<li id="2Tab">
			
				
				<%= simple_format(@userprofile.short_bio) %>
				<hr />
				<%= simple_format(@userprofile.long_bio) %>
			
			
<!-- 
				<h3><%=t :core_question1_text %></h3>
				<%= simple_format(@userprofile.core_question1_response) %>
				<br />

				<h3><%=t :core_question2_text %></h3>
				<%= simple_format(@userprofile.core_question2_response) %>
				<br />

				<h3><%=t :core_question3_text %></h3>
				<%= simple_format(@userprofile.core_question3_response) %>
				<br />

				<h3><%=t :core_question4_text %></h3>
				<%= simple_format(@userprofile.core_question4_response) %>
				<br />
	!-->
			</li>

			<li id="3Tab">
				<ul class="infolist">
					<% @userprofile.user.communities.each do |community|%>
					<li><%= link_to community.name, community %></li>
					<% end %>
				</ul>
			</li>
			
			
			
			<li id="4Tab">
				<ul class="infolist">
					<% @userprofile.user.subscribed_cbos.each do |cbo|%>
					<li><%= link_to cbo.name, cbo.cboprofile %></li>
					<% end %>
				</ul>
			</li>
			
			<!--
			<li id="5Tab">
				<ul class="infolist">
					
					<li>Tweet 1</li>
					<li>Tweet 2</li>
					<li>Tweet 3</li>

				</ul>
			</li>
			!-->
 		</div>
	
	</div>

</div>



