<h1>Full Profile for <%= @userprofile.name_full %></h1>

<p>
	<ul>
		<li>First Name: <%= @userprofile.firstname %></li>
		<li>Last Name: <%= @userprofile.lastname %></li>
		<li>Nick Name: <%= @userprofile.nickname.blank? ? "N/A" : @userprofile.nickname %></li>
		<li>Address: <%= @userprofile.full_address %></li>
	</ul>
</p>

<% if signed_in_user? %>
	<% if @userprofile.id == current_user.id %>
		<p><%= link_to "Edit Profile", edit_userprofile_path(current_user.userprofile) %></p>
	<% end %>
<% end %>
