<fieldset>
	<legend>Login Information</legend>
	<div class="clearfix">
		<%= user_form.label :name, :class => "xlInput" %>
		<div class="input">
			<%= user_form.text_field :name, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= user_form.label :email, :class => "xlInput" %>
		<div class="input">
			<%= user_form.text_field :email, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= user_form.label :password, :class => "xlInput" %>
		<div class="input">
			<%= user_form.password_field :password, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= user_form.label :password_confirmation, "Password Again", :class => "xlInput" %>
		<div class="input">
			<%= user_form.password_field :password_confirmation, :class => "xlarge" %>
		</div>
	</div>
</fieldset>

