<div class="field">
	<%= user_form.label :name %><br />
	<%= user_form.text_field :name %><br />
</div>

<div class="field">
	<%= user_form.label :email %><br />
	<%= user_form.text_field :email %><br />
</div>

<div class="field">
	<%= user_form.label :password %><br />
	<%= user_form.password_field :password %><br />
</div>

<div class="field">
	<%= user_form.label :password_confirmation, "Confirm password" %><br />
	<%= user_form.password_field :password_confirmation %><br />
</div>
