<h1>Confirm User</h1>

<%= form_for(@user, :url => { :action => "confirm" }) do |user_form| %>
	<%= render 'shared/error_messages', :object => user_form.object %>
	<p>Please re-enter your e-mail and password to confirm your account.</p>

	<div class="field">
		<%= user_form.label :email %><br />
		<%= user_form.text_field :email %><br />
	</div>

	<div class="field">
		<%= user_form.label :password %><br />
		<%= user_form.password_field :password %><br />
	</div>
	
	
	<div class="actions">
		<%= user_form.submit "Update", :class => "btn primary"  %>
	</div>
<% end %>