<h1>Sign up</h1>

<%= form_for @user, :html => { :multipart => true } do |user_form| %>
	<%= render 'shared/error_messages', :object => user_form.object %>
	<%= render 'fields', :user_form => user_form %>

	<%= user_form.fields_for :userprofile do |userprofile_form| %>
		<%= render 'userprofiles/fields', :userprofile_form => userprofile_form, :label => "Profile" %>	
	<% end %>	
	
	
	<div class="actions">
		<%= user_form.submit "Sign up", :class => "btn primary" %>
	</div>
	
	
	<p>Are you a CBO? Sign up <%= link_to "here", new_cbo_path %>.
<% end %>