<div id="map_canvas" style="width: <%= html_map_width %>; height: <%= html_map_height %>;"></div>


<noscript><b>JavaScript must be enabled in order for you to use Google Maps.</b> 
	However, it seems JavaScript is either disabled or not supported by your browser. 
	To view Google Maps, enable JavaScript by changing your browser options, and then 
	try again.
</noscript>


<script type="text/javascript">
//<![CDATA[

if (GBrowserIsCompatible()) { 

	// A function to create the marker and set up the event window
	// Dont try to unroll this function. It has to be here for the function closure
	// Each instance of the function preserves the contends of a different instance
	// of the "marker" and "html" variables which will be needed later when the event triggers.    
	function createMarker(point,html) {
		var marker = new GMarker(point);


		GEvent.addListener(marker, "click", function() {
			marker.openInfoWindowHtml(html);
		});
		return marker;
	}

	function createIconMarker(point,html,options) {
		var marker = new GMarker(point, options);



		GEvent.addListener(marker, "click", function() {
			marker.openInfoWindowHtml(html);
		});
		return marker;
	}



	// Display the map, with some controls and set the initial location 
	var map = new GMap2(document.getElementById("map_canvas"));
	map.addControl(new GLargeMapControl());


	map.setCenter(new GLatLng(<%= center_lat %>, <%= center_lng %>), <%= zoom_level %>);

	// DRAW THE CENTER MARKER

	var point = new GLatLng(<%= center_lat %>, <%= center_lng %>);
	var myIcon = new GIcon(G_DEFAULT_ICON);
	myIcon.image = "<%= image_path("smiley_happy.png") %>";
	myIcon.iconSize = new GSize(32, 37)
	myIcon.shadow = "<%= image_path("shadow.png") %>";
	myIcon.shadowSize = new GSize(51, 37);
	markerOptions = { 
		icon:myIcon,
		title: '<%= center_text %>',
		zIndexProcess: function() { return 9999; }
	};
	//map.addOverlay(new GMarker(point, markerOptions));
	var marker = createIconMarker(point, '<%= center_text %>', markerOptions);
	map.addOverlay(marker);


	// SET UP CBO MARKERS

	// UNSUBSCRIBED CBOS
	<% unsubscribed_cboprofiles.each do |cboprofile| %>
	var point = new GLatLng(<%= cboprofile.latitude || center_lat  %>, <%= cboprofile.longitude || center_lng %>);
	var myIcon = new GIcon(G_DEFAULT_ICON);
	myIcon.image = "<%= image_path("red_workdesk.png") %>";
	myIcon.iconSize = new GSize(32, 37);
	myIcon.shadow = "<%= image_path("shadow.png") %>";
	myIcon.shadowSize = new GSize(51, 37);
	markerOptions = { 
		icon:myIcon,
		title: 'You are not part of this CBO.'
	};
	var marker = createIconMarker(point, '<div style="width:300px"> \
	<strong><%= link_to escape_javascript(cboprofile.name), cboprofile %></strong> - <%= cboprofile.cbo.email %> <br /> \
	<%= escape_javascript(cboprofile.description) %> <br />\
	<%= escape_javascript(cboprofile.full_address) %> <br /><\/div>', markerOptions)
	map.addOverlay(marker);
	<% end %>

	// SUBSCRIBED CBOS
	<% subscribed_cboprofiles.each do |cboprofile| %>
	var point = new GLatLng(<%= cboprofile.latitude || center_lat  %>, <%= cboprofile.longitude || center_lng %>);
	var myIcon = new GIcon(G_DEFAULT_ICON);
	myIcon.image = "<%= image_path("green_workdesk.png") %>";
	myIcon.iconSize = new GSize(32, 37);
	myIcon.shadow = "<%= image_path("shadow.png") %>";
	myIcon.shadowSize = new GSize(51, 37);
	markerOptions = { 
		icon:myIcon,
		title: 'You are a part of this CBO!'
	};
	var marker = createIconMarker(point, '<div style="width:300px"> \
	<strong><%= link_to escape_javascript(cboprofile.name), cboprofile %></strong> - <%= cboprofile.cbo.email %> <br /> \
	<%= escape_javascript(cboprofile.description) %> <br />\
	<%= escape_javascript(cboprofile.full_address) %> <br /><\/div>', markerOptions)
	map.addOverlay(marker);
	<% end %>



	




}

// display a warning if the browser was not compatible
else {
	alert("Sorry, the Google Maps API is not compatible with this browser");
}

</script>