<br />
<div class="map_filter" style="z-index: 1">
<%= form_tag map_path, :method => :get do %>
<center>
<strong>Filter By: </strong><br /><br />
<p>
<%= select_tag "category_id", options_from_collection_for_select(@categories, "id", "name", @selected_category.to_i), :include_blank => "All Categories" %>
<br /><br />
<%= submit_tag "Filter", :name => nil, :class => "btn primary span4" %>
<br /><br />
<small>(Currently showing <%= pluralize(@cbo_count, 'CBO') %> in <%= @category_name %>)</small>
</p>
</center>

<% end %>
</div>


<div class="mission" style="z-index: 1">
	The College Project Mission:
	<p>We focus on students and their ever growing need to expand their intellectual horizon by offering them opportunities to connect with their local and immediate community.
</div>

<!--  
<div class="feed" style="z-index: 1">
	News Feed
</div>
!-->

     
<% if !signed_in_user? && @selected_category.nil? && !signed_in_cbo? %>

		<div id="modal-from-dom" class="modal hide fade in" style="display: block; width:347px; position: absolute; z-index: 100">
		    <div class="modal-header">
		    <a class="close" href="#">x</a>
		    <h3>Welcome!</h3>
		    </div>

		    <div class="modal-body">
		    <p>We're glad you're here. Feel free to browse around our site, and see how you can help your community!</p>
		    </div>

		    <div class="modal-footer">
		    <a class="close btn primary" href="#">Thanks!</a>
		    </div>
		</div>
		
<% end %>

<script>
	$(".close").click(function ( event ) {
      event.preventDefault();
      $("#modal-from-dom").hide();
    });
</script>



<%= render 'map_box', 	:html_map_width => "100%", 
						:html_map_height => "85%",
						:unjoined_cboprofiles => @unjoined_cboprofiles,
						:joined_cboprofiles => @joined_cboprofiles,
						:center_lat => @center_lat,
						:center_lng => @center_lng,
						:center_text => @center_text,
						:zoom_level => 13 %>



		
		
		
		

