<h1>Questionnaires#show</h1>
<p>Find me in app/views/questionnaires/show.html.erb</p>




<% if !@questionnaire.question1_text.blank? %>
	<%= simple_format(@questionnaire.question1_text) %>
<% end %>

<% if !@questionnaire.question2_text.blank? %>
	<%= simple_format(@questionnaire.question2_text) %>
<% end %>

<% if !@questionnaire.question3_text.blank? %>
	<%= simple_format(@questionnaire.question3_text) %>
<% end %>

<% if !@questionnaire.question4_text.blank? %>
	<%= simple_format(@questionnaire.question4_text) %>
<% end %>

<% if !@questionnaire.question5_text.blank? %>
	<%= simple_format(@questionnaire.question5_text) %>
<% end %>

<% if !@questionnaire.question6_text.blank? %>
	<%= simple_format(@questionnaire.question6_text) %>
<% end %>

<% if !@questionnaire.question7_text.blank? %>
	<%= simple_format(@questionnaire.question7_text) %>
<% end %>

<% if !@questionnaire.question8_text.blank? %>
	<%= simple_format(@questionnaire.question8_text) %>
<% end %>

<% if !@questionnaire.question9_text.blank? %>
	<%= simple_format(@questionnaire.question9_text) %>
<% end %>

<% if !@questionnaire.question10_text.blank? %>
	<%= simple_format(@questionnaire.question10_text) %>
<% end %>

<% if !@questionnaire.additional_instructions.blank? %>
<%= simple_format(@questionnaire.additional_instructions) %>
<% end %>
	
