<fieldset>
	<legend>Community Information</legend>
	<div class="clearfix">
		<%= community_form.label :name, :class => "xlInput" %>
		<div class="input">
			<%= community_form.text_field :name, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= community_form.label :city, :class => "xlInput" %>
		<div class="input">
			<%= community_form.text_field :city, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= community_form.label :state, :class => "xlInput" %>
		<div class="input">
			<%= community_form.text_field :state, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= community_form.label :zip, :class => "xlInput" %>
		<div class="input">
			<%= community_form.text_field :zip, :class => "xlarge" %>
		</div>
	</div>
	
	
</fieldset>