<div class="page-header">
	<h1><%= @community.name %> <small><%= @community.full_address %></small></h1>
	<%= render 'join_community', :community => @community %>
</div>


<center><%= image_tag "900x250.gif" %></center>
<br />


<div class="row">
	<div class="span8">
		<h2>Location</h2>
		<br />
		<p><%= google_map_static_image_for(@community, 400, 300) %></p>
		<address>
			<strong><%= @community.full_address%></strong>
		</address>
	</div>
	
	<div class="span8">
		<h2>Recent Activity</h2>
		<br />
		<div style="height: 300px; overflow: scroll">
		<%= render 'community_activity_feed' %>
		</div>
	</div>
	
</div>
		

<div class="row">
	<div class="span8">
		<h2>CBOs in this community</h2>
		<br />
		<%= render 'cbos/cbos_table', :cbos => @community.cbos %>
	</div>
	
	<div class="span8">
		<h2>Users in this community</h2>
		<br />
		<%= render 'users/users_table', :users => @community.users %>
	</div>
</div> 

<!-- 
<center>
<%= google_map_static_image_for(@community, 900, 250, 12) %>
</center>
<br />
!-->


