<h1>Community: <%= @community.name %></h1>

<%= render 'community_basic_info', :community => @community %>

<p>


	
	
<h2>Users in this community:</h2>
<%= render 'users/users_table', :users => @community.users %>

<h2>CBOs in this community:</h2>
<%= render 'cbos/cbos_table', :cbos => @community.cbos %>

</p>


<% if signed_in_user? %>
	<p>
		<%= render 'user_join_community', :community => @community %>
	</p>

<% elsif signed_in_cbo? %>
	<p>
		<%= render 'cbo_join_community', :community => @community %>
	</p>
<% end %>

<p>
<%= google_map_static_image_for(@community) %>
</p>

