<br />

<div class="row">
	<div class="span4">
		<%= image_tag @community.community_avatar.url(:medium) %>
		<br /><br />


		<%= render 'join_community', :community => @community %>


		<br />
	</div>

	<div class="span11" style="border-left: 1px solid #eee; border-right: 1px solid #eee; margin-left: 0; padding-left: 19px">
		<h1><%= @community.name %> <small><%= @community.full_address %></small></h1>

		<dl class="tabs">
			<dd><a href="#1" class="active">Information</a></dd>
			<dd><a href="#2">Recent Activity</a></dd>
			<dd><a href="#3">CBOs</a></dd>
			<dd><a href="#4">Members</a></dd>
		</dl>

		<ul class="tabs-content">
		
			<li class="active" id="1Tab">
				<div class="span11">
					<h2>Location</h2>
					<br />
					<p>
						<%= render 'pages/map_box', 
						:html_map_width => "400px", 
						:html_map_height => "300px",
						:subscribed_cboprofiles => Cboprofile.get_cboprofiles(@community.cbos),
						:center_lat => @community.latitude,
						:center_lng => @community.longitude,
						:center_text => @community.name, 
						:zoom_level => 12 %>
					</p>
					<address>
						<strong><%= @community.full_address%></strong>
					</address>
				</div>
				<br /><br />
			</li>
			
			
			<li id="2Tab">
			    <div class="span11">
					<div style="height: 400px; overflow-y: scroll">
						<%= render 'community_activity_feed' %>
					</div>
				</div>
			</li>

			<li id="3Tab">
				<%= render 'cbos/cbos_table', :cbos => @community.cbos %>
			</li>

			<li id="4Tab">
				<%= render 'users/users_table', :users => @community.users %>
			</li>

			
		
		</ul>

	</div>

</div>







