<div class="field">
	<%= cbo_form.label :name %><br />
	<%= cbo_form.text_field :name %>
</div>

<div class="field">
	<%= cbo_form.label :email %><br />
	<%= cbo_form.text_field :email %>
</div>



<div class="field">
	<%= cbo_form.label :password %><br />
	<%= cbo_form.password_field :password %>
</div>

<div class="field">
	<%= cbo_form.label :password_confirmation, "Confirm password" %><br />
	<%= cbo_form.password_field :password_confirmation %>
</div>
