<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Apply Date</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% cbo.pending_users_memberships.each do |membership| %>
		<tr>
			<td><%= link_to User.find_by_id(membership.user_id).userprofile.name, User.find_by_id(membership.user_id).userprofile %></td>
			<td><%= membership.updated_at.stamp("January 1, 1999 at 20:12")%></td>
			
			<td>
				<%= form_for(membership, :as => :membership, :url => confirm_membership_path(membership), :method => :put) do |f| %>
					<%= f.hidden_field :cbo_id %>
					<%= f.hidden_field :user_id %>
					<%= f.submit "Approve", :class => "btn small primary" %>
				<% end %>
			</td>
			
		</tr>
		<% end %>
	</tbody>
</table>