<% if signed_in_user? %>


<p>
<% if current_user.part_of_cbo?(cbo) %>
	<%= submit_tag "Joined", :class => "btn small disabled" %>
<% end%>

<p>
<% if current_user.part_of_cbo?(cbo) %>
	<!-- Remove yourself from this CBO:<br /><br /> !-->
	<%= form_for(current_user.memberships.find_by_cbo_id(cbo),
				:html => { :method => :delete }) do |f| %>
		<% f.submit "Leave", :class => "btn small danger" %>
	<% end %>

<% elsif current_user.pending_of_cbo?(cbo) %>
	<br />
	<%= submit_tag "Pending", :class => "btn small disabled" %>
<% else %>

	<!-- Be a part of this CBO:<br /><br /> !-->
	<%= form_for(current_user.memberships.build(:cbo_id => cbo.id)) do |f| %>
		<%= f.hidden_field :cbo_id %>
		<%= f.submit "Join", :class => "btn small primary"  %>
	<% end %>
<% end %>
</p>
<% end %>

