<h1>Confirm CBO</h1>

<%= form_for(@cbo, :url => { :action => "confirm" }) do |cbo_form| %>
	<%= render 'shared/error_messages', :object => cbo_form.object %>
	<p>Please re-enter your CBO e-mail and password to confirm your account.</p>

	<div class="field">
		<%= cbo_form.label :email %><br />
		<%= cbo_form.text_field :email %><br />
	</div>

	<div class="field">
		<%= cbo_form.label :password %><br />
		<%= cbo_form.password_field :password %><br />
	</div>
	
	
	<div class="actions">
		<%= cbo_form.submit "Confirm", :class => "btn primary"  %>
	</div>
<% end %>