
<h1><%= @cbo.name %></h1>
<p>
	<ul>
		<li>CBO Name: <%= @cbo.name %></li>
		<li>CBO Contact email: <%= @cbo.email %></li>
	</ul>
</p>

<% if signed_in_user? %>
	You are signed in.
	<% if current_user.part_of_cbo?(@cbo) %>
		Remove yourself from this CBO:<br /><br />
		<%= form_for(current_user.participations.find_by_cbo_id(@cbo),
					:html => { :method => :delete }) do |f| %>
			<% f.submit "Remove Participation", :class => "btn danger" %>
		<% end %>
	<% else %>
		Be a part of this CBO:<br /><br />
		<%= form_for(current_user.participations.build(:cbo_id => @cbo.id)) do |f| %>
			<%= f.hidden_field :cbo_id %>
			<%= f.submit "Participate", :class => "btn primary"  %>
		<% end %>
	<% end %>
<% end %>

<% if current_cbo?(@cbo) %>
	<p>Your organization currently has these members:</p>
	<ul>
		<% @cbo.users.each do |user| %>
			<li><%= link_to user.userprofile.name, user.userprofile %></li>
		<% end %>
	</ul>

	<p><%= link_to "Edit Profile", edit_cbo_path(@cbo) %></p>
<% end %>
