
<h1><%= @cbo.name %></h1>
<p>
	<ul>
		<li>CBO Name: <%= @cbo.name %></li>
		<li>CBO Contact email: <%= @cbo.email %></li>
	</ul>
</p>

<% if signed_in_user? %>
	<%= render 'user_membership', :cbo => @cbo %>

<% end %>

<% if current_cbo?(@cbo) %>
	<%= render 'admin_members', :cbo => @cbo %>
	<p><%= link_to "Edit Profile", edit_cbo_path(@cbo) %></p>
<% end %>
