<fieldset>
	<legend>Profile Information</legend>
	<div class="clearfix">
		<%= cboprofile_form.label :name, :class => "xlInput" %>
		<div class="input">
			<%= cboprofile_form.text_field :name, :class => "xlarge" %>
		</div>
	</div>
	
	
	<div class="clearfix">
		<%= cboprofile_form.label :description, :class => "xlInput" %>
		<div class="input">
			<%= cboprofile_form.text_field :description, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= cboprofile_form.label :address, :class => "xlInput" %>
		<div class="input">
			<%= cboprofile_form.text_field :address, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= cboprofile_form.label :latitude, :class => "xlInput" %>
		<div class="input">
			<%= cboprofile_form.text_field :latitude, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= cboprofile_form.label :longitude, :class => "xlInput" %>
		<div class="input">
			<%= cboprofile_form.text_field :longitude, :class => "xlarge" %>
		</div>
	</div>
	
	
</fieldset>

