<fieldset>
	<legend>Profile Information</legend>
	<div class="clearfix">
		<%= cboprofile_form.label :name, :class => "xlInput" %>
		<div class="input">
			<%= cboprofile_form.text_field :name, :class => "xlarge" %>
		</div>
	</div>
	
	
	<div class="clearfix">
		<%= cboprofile_form.label :description, :class => "xlInput" %>
		<div class="input">
			<%= cboprofile_form.text_field :description, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= cboprofile_form.label :street1, :class => "xlInput" %>
		<div class="input">
			<%= cboprofile_form.text_field :street1, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= cboprofile_form.label :street2, :class => "xlInput" %>
		<div class="input">
			<%= cboprofile_form.text_field :street2, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= cboprofile_form.label :city, :class => "xlInput" %>
		<div class="input">
			<%= cboprofile_form.text_field :city, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= cboprofile_form.label :state, :class => "xlInput" %>
		<div class="input">
			<%= cboprofile_form.text_field :state, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= cboprofile_form.label :zip, :class => "xlInput" %>
		<div class="input">
			<%= cboprofile_form.text_field :zip, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= cboprofile_form.label :country, :class => "xlInput" %>
		<div class="input">
			<%= cboprofile_form.text_field :country, :class => "xlarge" %>
		</div>
	</div>
	
	
	
<!-- 
	<div class="clearfix">
		<%= cboprofile_form.label :latitude, :class => "xlInput" %>
		<div class="input">
			<%= cboprofile_form.text_field :latitude, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= cboprofile_form.label :longitude, :class => "xlInput" %>
		<div class="input">
			<%= cboprofile_form.text_field :longitude, :class => "xlarge" %>
		</div>
	</div>
!-->	
	
</fieldset>

