<div class="row">
	<div class="span6">
		<h4><%= cboprofile.name %> <small><%= communities_tagline(cboprofile.cbo) %> <%= link_to "[View]", cboprofile %></small></h4>
		<%= render 'cbos/user_membership_small', :cbo => cboprofile.cbo %>
	</div>
	<div class="span2">
		<%= image_tag "100x100.gif" %>
	</div>
</div>
<div class="row">
	<div class="span 8">
		<%= simple_format(cboprofile.description) %>
		<%= truncate(cboprofile.information, :length => 150, :separator => '.', :omission => '... (continued)') %>
	</div>
</div>
