<div class="page-header">
	<h1>Nearby CBOs <small>Showing within <%= @distance.to_s %> miles of your location</h1>
</div>


<p>
	You can search CBOs that are nearby your preferred location.
</p>

<%= form_tag nearby_cbos_path, :method => :get do %>
	<p>
		Search within <%= text_field_tag :distance, params[:distance], :class => "span1" %> miles <%= submit_tag "Search", :name => nil, :class => "btn small primary" %>
	</p>
<% end %>




<%= render 'cboprofiles_grid_view', :cboprofiles => @cboprofiles %>

