<h1>Nearby CBOs</h1>

<p>
	You can search CBOs that are nearby your preferred location.
</p>

<%= form_tag nearby_cbos_path, :method => :get do %>
	<p>
		<%= text_field_tag :distance, params[:distance], :class => "xlInput" %>
		<%= submit_tag "Search near", :name => nil, :class => "btn primary" %>
	</p>
<% end %>

<h2>Showing all CBOs within <%= @distance.to_s %> miles of your location:</h2>
<table>
	<thead>
		<tr>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
	<% @cboprofiles.each do |cboprofile| %>
		<tr>
			<td><%= link_to cboprofile.name, cboprofile %></td>
		</tr>
	<% end %>
	</tbody>
</table>

