
<div class="row">
	<div class="span4">
		<%= image_tag @cboprofile.cbo_avatar.url(:medium) %>
		<br /><br />



		<!-- BEGIN QUESTIONNAIRE MODAL !-->
		<% if signed_in_user? %>
		<p>
			<div id="participation-modal" class="modal hide fade" style="overflow-y:auto; max-height: 90%; margin-top:-45%;">
				<div class="modal-header">
					<a href="#" class="close">&times;</a>
					<h3>Application Form to <%= @cboprofile.name %></h3>
				</div>
				<div class="modal-body">


					<%= 
					
					#render 'questionnaires/modal_reply', :questionnaire => @cboprofile.cbo.questionnaire, :qresponse => Qresponse.new(:questionnaire_id => @cboprofile.cbo.questionnaire.id) 
					
					if current_user.participations.find_by_cbo_id(params[:id])
						# already has a participation to this CBO.
						render 'participations/modal_show', :participation => current_user.participations.find_by_cbo_id(params[:id])
					else
						# new participation to this CBO.
						participation = current_user.participations.new(:cbo_id => params[:id])
						participation.set_default_schedule
						render 'participations/modal_reply', :participation => participation
					end
					
					%>



				</div>
				<!-- 
				<div class="modal-footer">
				<a href="#" class="btn primary">Primary Action</a>
				<a href="#" class="btn secondary">Secondary Action</a>
				</div>
				!-->
			</div>

			<%= render 'cbos/user_subscription', :cbo => @cboprofile.cbo %>

		</p>
		<% end %>
		<!-- END QUESTIONNAIRE/MEMBERSHIP MODAL !-->

		<br /><br />
		<% if signed_in_cbo? %>
		<% if @cboprofile.id == current_cbo.cboprofile.id %>
		<div class="btn">
			<%= link_to "Edit Profile", edit_cboprofile_path(current_cbo.cboprofile) %>
		</div>
		<% end %>
		<% end %>

	</div>

	<div class="span11" style="border-left: 1px solid #eee; border-right: 1px solid #eee; margin-left: 0; padding-left: 19px">
		<h1><%= @cboprofile.name %> <small><%= communities_tagline(@cboprofile.cbo) %></small> 
		
		<% if signed_in_user? %> 
			<a class="btn large primary" data-controls-modal="participation-modal" data-backdrop="static" data-keyboard="true">Volunteer</a> 
		<% elsif !signed_in_cbo? %>
			<a class="btn large primary" href="<%= signin_path %>">Volunteer</a>
		<% end %>
		
		</h1>

		<dl class="tabs">
			<dd><a href="#1" class="active">Information</a></dd>
			<dd><a href="#2">Volunteer Notes</a></dd>
		</dl>

		<ul class="tabs-content">
			<li class="active" id="1Tab">


				<ul class="leftinfo">
					<li>Description</li>
					<li>Information</li>
					<li>Volunteering</li>
					<li>Contact Email</li>
					<li>Address</li>
				</ul>

				<ul class="rightinfo">
					<li><%= simple_format(@cboprofile.description) %></li>
					<li><%= simple_format(@cboprofile.information) %></li>
					<li><%= simple_format(@cboprofile.how_to_volunteer) %></li>
					<li><%= mail_to @cboprofile.cbo.email %></li>
					<li>
						<address>
							<strong><%= @cboprofile.name %></strong><br />
							<%= profile_address_formatted(@cboprofile) %><br />

						</address>
						

					</li>
				</ul>
				
				
			</li>


			<li id="2Tab">

				<%= google_map_static_image_for(@cboprofile, 320, 200) %>

			</li>

		</div>

	</div>


