<div class="heading">
	<ul class="nav">
		<a style="font-size:30px; margin-left:20px; letter-spacing:-1px;" href="<%= root_path %>">the col&#183;lege pro&#183;ject</a>	
	</ul><!--End ul class="nav">-->
                
	<ul style="float:right; margin-right: 30px;" class="nav">
		<li><a href="#">40 Likes</a></li>
  		<li><a href="#">About Us</a></li>
		<li><a href="#">Press</a></li>
		<li><a href="#">Donate</a></li>
	</ul>			
</div><!--end heading-->


<div class="topbar">
	<div class="topbar-inner">
		<div class="container-fluid">
			
			<% if signed_in_user? %>


		
				<ul class="nav">
				
					<li><%= link_to "User Home", current_user %></li>
					<li><%= link_to current_user.userprofile.name.possessive + " Profile", current_user.userprofile %></li>
					<!-- <li><%= link_to "User Listing", users_path %></li> !-->
					<li class="dropdown" data-dropdown="dropdown">
						<a href="#" class="dropdown-toggle">CBOs</a>
						<ul class="dropdown-menu">
						
							<% current_user.cbos.each do |cbo| %>
							<li><%= link_to cbo.cboprofile.name, cbo.cboprofile %></li>
							<% end %>
							<li><%= link_to "My CBOs", my_cbos_path %></li>
						
							<li class="divider"></li>
						
						
							<li><%= link_to "Nearby CBOS", nearby_cbos_path %></li>
							<li class="divider"></li>
							<li><%= link_to "All CBOS", cbos_path %></li>
							<li class="divider"></li>
							<li><%= link_to "View  Applications", my_qresponses_path %></li>
						</ul>
					</li>
					<li class="dropdown" data-dropdown="dropdown">
						<a href="#" class="dropdown-toggle">Communities</a>
						<ul class="dropdown-menu">
						
							<% current_user.communities.each do |community| %>
							<li><%= link_to community.name, community %></li>
							<% end %>
							<li><%= link_to "My Communities", my_communities_path %></li>
		
							<li class="divider"></li>
						
							<li><%= link_to "Nearby Communities", nearby_communities_path %></li>
						
							<li class="divider"></li>
						
							<li><%= link_to "All Communities", communities_path %></li>
						</ul>
					</li>
						
					<li><%= link_to "Account", edit_user_path(current_user) %></li>	
					<li><%= link_to "Sign Out", signout_path %></li>	
				
				</ul>	


			<% elsif signed_in_cbo? %>
				
				<ul class="nav">
				
					<li><%= link_to "CBO Home", current_cbo %></li>
					
					<li class="dropdown" data-dropdown="dropdown">
						<a href="#" class="dropdown-toggle">CBO Actions</a>
						<ul class="dropdown-menu">
							<li><%= link_to current_cbo.name.possessive + " Organization Profile", current_cbo.cboprofile %></li>
							<li class="divider"></li>
							<li><%= link_to "View Application Form", current_cbo.questionnaire %></li>
							<li><%= link_to "View  Applications", my_qresponses_path %></li>
						</ul>
					</li>
							
					
					
					<li><%= link_to "CBO Listing", cbos_path %></li>
					<li class="dropdown" data-dropdown="dropdown">
						<a href="#" class="dropdown-toggle">Communities</a>
						<ul class="dropdown-menu">
						
							<% current_cbo.communities.each do |community| %>
							<li><%= link_to community.name, community %></li>
							<% end %>
							<li><%= link_to "My Communities", my_communities_path %></li>

							<li class="divider"></li>
						
							<li><%= link_to "Nearby Communities", nearby_communities_path %></li>
							<li class="divider"></li>
							<li><%= link_to "All Communities", communities_path %></li>
						</ul>
					</li>						
				
				
					<li><%= link_to "Sign Out", signout_path %></li>
				
				</ul>
	
			<% else %>

				<ul class="nav">
					
					<li class="dropdown" data-dropdown="dropdown">
						<a href="#" class="dropdown-toggle">New</a>
						<ul class="dropdown-menu">
							<li><%= link_to "New User", signup_path %></li>
							<li><%= link_to "New CBO", new_cbo_path %></li>
						</ul>
					</li>
						
					<li><%= link_to "Sign In", signin_path %></li>
					
					<li><%= link_to "CBO Listing", cbos_path %></li>
				
				
				
				</ul>
				
				
				
			<% end %>
		</div>
	</div>
</div>
