<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets' %>
		<%= javascript_include_tag "jquery" %>
		
		<%= javascript_include_tag "bootstrap-dropdown" %>
		<%= javascript_include_tag "bootstrap-modal" %>
		<%= javascript_include_tag "tabs.js" %>
	
	
	</head>
	<body>
		
		<%= render 'layouts/header' %>


			
		<div class="content">
			<%= render :partial => "shared/flash_messages", :locals => {:flash => flash} %>


			<%= yield %>
			
			
		</div>
		<%= render 'layouts/footer' %>
		
		<script>
		function activateTab($tab) {
				var $activeTab = $tab.closest('dl').find('a.active'),
						contentLocation = $tab.attr("href") + 'Tab';

				//Make Tab Active
				$activeTab.removeClass('active');
				$tab.addClass('active');

		    	//Show Tab Content
				$(contentLocation).closest('.tabs-content').children('li').hide();
				$(contentLocation).show();
			}

			$('dl.tabs').each(function () {
				//Get all tabs
				var tabs = $(this).children('dd').children('a');
				tabs.click(function (e) {
					activateTab($(this));
				});
			});

			if (window.location.hash) {
				activateTab($('a[href="' + window.location.hash + '"]'));
			}
		</script>
	</body>
</html>
